﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>API Rest - Trituraci&oacute;n </h1>
    </body>
</html>